<div class="html">
  <div *ngIf="seller">

    <img class="image" src="{{seller.imagePath}}" alt="Image of the seller" />
    <h3 class="sellername">{{seller.name}}</h3>
    <h4 class="sellercat"> {{seller.category}}</h4>
  </div>
</div>

<button (click)="addProduct()">Bæta við vöru</button>
<button (click)="editSeller()">Breyta notanda</button>

<span class="test">

<button class="btn btn-default" (click)="showSuccess()">Toastr Tester</button>
<h3>{{error}}</h3>
<template ngbModalContainer></template>
<ngb-tabset>
  <ngb-tab title="Allar vörur">
    <template ngbTabContent>
  <span class="test">

<div *ngFor="let p of products">
    <app-product-card 
      [product] = "p"
      (productUpdated)="onProductEdited($event)">
      
    </app-product-card>
</div>
</span>
    </template>
  </ngb-tab>
  <ngb-tab>
    <template ngbTabTitle> Top 10</template>
    <template ngbTabContent>
        <span class="test">
          <div *ngFor="let p of products">
 <app-product-card 
      [product] = "p" 
      (productUpdated)="onProductEdited($event)">
      
    </app-product-card>
</div>
          
        </span>
    </template>
  </ngb-tab>
</ngb-tabset>







