<div class="modal-header">
  <h4 class="modal-title">Bæta við vöru: </h4>
  <button type="button" class="close" aria-label="Close" (click)="onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Heiti vöru: <input [(ngModel)]="productName" autofocus/><br/>
  Verð: <input [(ngModel)]="price"/><br/>
  Einingafjöldi: <input [(ngModel)]="quantityInStock"/>

  <!-- bæta við upplýsingum um vöru -->


</div>
<div class="modal-footer">
    <button type="button" class="btn-btn-secondary" (click)="onCancel()">Cancel</button>
  <button type="button" class="btn-btn-success" (click)="onOK()">Ok</button>
</div>  